/********************
        *all
*********************/
* {
  font-family: 'Open Sans', serif;
}

/********************
  DatePicker Styles
*********************/

#date {
  text-align: center;
}

.datepicker-date-display {
  background-color: #0277bd !important;
}
.picker-weekday-display {
  background-color:red;
}
.datepicker--focused, .datepicker-table td.is-selected {
  background-color: #0277bd !important;
}

.datepicker-day-button:hover {
  background-color: #b3e5fc !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: #0277bd !important;
}

/********************
  Collapsible Styles
*********************/
#table-heading-box, .table-headings {
  padding-left: 2.5em;
}

.collapsible-title, .table-headings {
  font-weight: bold;
  /*flex-grow: 1;*/
}

.header-info {
  font-weight: bold;
  text-align: center;
  /*flex-grow: 1;*/
}

.center {
  text-align: center;
}

.body-info {
  display: flex;
  flex-direction: row;
}

.body-sub-info {
  text-align: center;
  /*flex-grow: 1;*/
}
